apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://iosxe-influxdb:8086
    jsonData:
      version: Flux
      organization: clawlab
      defaultBucket: iosxe_telemetry
      tlsSkipVerify: true
    secureJsonData:
      token: @INFLUX_TOKEN@
